<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AlbumDao">
    <resultMap type="Albuma" id="d1">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="count" property="count"/>
        <result column="createDate" property="createDate"/>
        <result column="score" property="score"/>
        <result column="author" property="author"/>
        <result column="broadCast" property="broadCast"/>
        <result column="brief" property="brief"/>
        <result column="img" property="img"/>
        <collection property="children" ofType="Albumb">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
            <result column="size" property="size"/>
            <result column="url" property="url"/>
            <result column="pid" property="pid"/>
            <result column="time" property="time"/>
        </collection>
    </resultMap>
    <select id="queryAll" resultMap="d1">
	select d1.id,d1.name,d1.count,d1.createDate,d1.score,d1.author,d1.broadCast,d1.brief,d1.img,
      d2.id did,d2.name dname,d2.size,d2.url,d2.pid,d2.time
      from dd_zj d1
      LEFT JOIN dd_zj d2
      ON d1.id = d2.pid
      where d1.pid is NULL
	</select>
    <insert id="add">
        insert into dd_zj(name,score,img,createDate) values(#{albuma.name},#{albuma.score},#{albuma.img},#{albuma.createDate})
    </insert>
    <insert id="addzj">
          insert into dd_zj(name,url,size,pid,time) values(#{albumb.name},#{albumb.url},#{albumb.size},#{albumb.pid},#{albumb.time})
    </insert>
    <update id="updateCount">
        UPDATE dd_zj SET count=#{count} where id=#{id}
    </update>
</mapper>
